<div class="merchello-pane row-fluid" data-ng-show="loaded">

    <h4>{{title}}</h4>

    <div class="control-group umb-control-group">

        <table class="table table-striped merchello-striped-table detached-content-type-table" data-ng-show="preValuesLoaded && detachedContentTypes.length > 0">
            <thead>
            <tr>
                <th><localize key="general_name" /></th>
                <th><localize key="merchelloDetachedContent_umbracoContentTypeName" /></th>
                <th colspan="2"><localize key="merchelloDetachedContent_umbracoContentTypeAlias" /></th>
            </tr>
            </thead>
            <tbody>
            <tr class="merchello-icon-container" data-ng-repeat="contentType in detachedContentTypes">
                <td>{{ contentType.name }}</td>
                <td><i class="icon {{contentType.umbContentType.icon}}" data-ng-hide="contentType.umbContentType.icon===''"></i> {{contentType.umbContentType.name}}</td>
                <td>{{contentType.umbContentType.alias}}</td>
                <td class="text-right">
                    <merchello-icon-bar show-add="false" show-edit="true" show-delete="debugAllowDelete" do-edit="edit(contentType)" do-delete="delete(contentType)"></merchello-icon-bar>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <merchello-add-icon do-add="add()"></merchello-add-icon>
        </div>

    </div>

    <div class="pager well" data-ng-hide="detachedContentTypes.length > 0">
        <localize key="merchelloDetachedContent_noDetachedContentTypes" />
    </div>

</div>