<div class="table-notes">
    <div class="merchello-section-label">
        <localize key="merchelloNotes_notes">Notes</localize>
        <small>{{ smallText }}</small>
    </div>
    <div class="merchello-controls">
        <div class="row-fluid">
            <table class="table">
                <thead>
                <tr>
                    <th><localize key="merchelloNotes_note">Note</localize></th>
                    <th><localize key="merchelloGeneral_author"></localize></th>
                    <th><localize key="merchelloGeneral_visibility"></localize></th>
                    <th></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <span class="pull-right">
                            <merchello-add-icon do-add="addNote()"></merchello-add-icon>
                        </span>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                    <tr data-ng-repeat="item in notes">
                        <td>
                            <p><strong>{{item.recordDate | date : settings.dateFormat }}</strong></p>
                            <div data-ng-bind-html="item.message"></div>
                        </td>
                        <td>{{ item.author }}</td>
                        <td>
                            <span data-ng-show="item.internalOnly"><localize key="merchelloGeneral_private"></localize></span>
                            <span data-ng-hide="item.internalOnly"><localize key="merchelloGeneral_public"></localize></span>
                        </td>
                        <td nowrap="nowrap">
                            <span class="pull-right">
                                <merchello-icon-bar show-edit="true" show-delete="true" do-edit="editNote(item)" do-delete="deleteNote(item)"></merchello-icon-bar>
                            </span>                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>