<div class="merchello-list-view umb-listview">
    <div data-ng-show="showTitle">
        <entity-collection-title-bar collection-key="collectionKey" entity-type="entityType"></entity-collection-title-bar>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td data-ng-repeat="col in config.columns">
                <a href="#" data-ng-click="sort(col.name, !col.resultColumn)" prevent-default data-ng-class="{sortable : !col.resultColumn }" data-ng-hide="col.localizeKey === ''">
                    <localize key="{{ col.localizeKey }}" />
                    <i class="icon" ng-class="{'icon-navigation-up': isSortDirection(col.name, 'asc'), 'icon-navigation-down': isSortDirection(col.name, 'desc')}"></i>
                </a>
            </td>

            <td>
                <form class="pull-right ng-pristine ng-valid" novalidate data-ng-show="hasFilter">
                    <i class="icon-search" data-ng-click="enterSearch($event)"></i>
                    <input type="text" data-ng-model="options.filter" on-keyup="search()" prevent-enter-submit no-dirty-check class="ng-pristine ng-valid">
                </form>
            </td>
            <td>
                <form class="pull-right ng-pristine ng-valid" novalidate>
                    <select data-ng-model="options.pageSize" data-ng-change="setPageSize()">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr data-ng-show="enableDateFilter">
            <td colspan="{{ config.columns.length + 2}}">
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-small" data-ng-click="openDateRangeDialog()" prevent-default>{{ dateBtnText }}</a>
                    <a href="#" class="btn btn-small" prevent-default data-ng-click="clearDates()" data-ng-show="startDate !== '' && endDate !== ''">X</a>
                </div>
            </td>
        </tr>
        </thead>

        <tbody data-ng-show="!preValuesLoaded">
        <tr>
            <td colspan="{{ config.columns.length + 2 }}">
                <div class="umb-loader-wrapper">
                    <div class="umb-loader"></div>
                </div>
            </td>
        </tr>
        </tbody>

        <tbody ng-show="listViewResultSet.totalItems === 0 && preValuesLoaded">
        <tr>
            <td colspan="{{ config.columns.length + 2 }}">
                <p><localize key="content_listViewNoItems">There are no items show in the list.</localize></p>
            </td>
        </tr>
        </tbody>


        <tbody ng-show="listViewResultSet.totalItems > 0">
        <tr ng-repeat="result in listViewResultSet.items" data-ng-class="{selected:result.selected}">
            <td data-ng-repeat="col in config.columns" data-ng-bind-html="getColumnValue()(result, col)"></td>
            <td colspan="2"></td>
        </tr>
        </tbody>

        <tfoot ng-show="pagination.length > 1">
        <tr>
            <th colspan="{{config.columns.length + 2}}">
                <div class="pull-left">
                </div>
                <div class="pagination pagination-right">
                    <ul>
                        <li ng-class="{disabled:options.pageNumber <= 1}">
                            <a href="#" ng-click="prev()" prevent-default>
                                <localize key="general_previous">Previous</localize>
                            </a>
                        </li>

                        <li ng-repeat="pgn in pagination"
                            ng-class="{active:pgn.isActive}">

                            <a href="#" ng-click="goToPage(pgn.val - 1)" prevent-default
                               ng-bind="pgn.name ? pgn.name : pgn.val"
                               ng-if="pgn.val != '...'"></a>
                            <span ng-bind="pgn.val" ng-if="pgn.val == '...'"></span>
                        </li>

                        <li ng-class="{disabled:options.pageNumber >= listViewResultSet.totalPages}">
                            <a href="#" ng-click="next()" prevent-default>
                                <localize key="general_next">Next</localize>
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>

</div>