<div  data-ng-show="ready">

<form name="productOptionForm" id="productOptionForm" data-ng-show="optionSelected">

    <div class="form-group row-fluid">
        <b>Selected:</b> {{ sharedOption.name }} <merchello-delete-icon do-delete="removeOption()" data-ng-if="!sharedOptionsEditor"></merchello-delete-icon>
    </div>

    <div class="form-group row-fluid">
        <label for="name"><localize key="general_name" /></label>
        <small>You can use a different name than that of the share option here.</small>
        <div class="error" data-ng-show="productOptionForm.name.$invalid && wasFormSubmitted">Name is a required field.</div>
        <input name="name" id="name" data-ng-model="sharedOption.useName" class="span8" type="text" required />
    </div>

    <table class="table settings-table col-xs-6 span6" data-ng-show="sharedOption.choices.length > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Sku</th>
            <th>Include Choice</th>
            <th>Selected</th>
            <th></th>
        </tr>
        </thead>
        <tbody data-ng-model="sharedOption.choices">
        <tr data-ng-repeat="choice in sharedOption.choices">
            <td>{{ choice.name }}</td>
            <td>{{ choice.sku }}</td>
            <td class="text-center"><input type="checkbox" data-ng-model="selectedChoices" data-ng-change="addRemoveChoice(choice)" data-ng-value="choice.key" data-ng-checked="choice.selected" /></td>
            <td><input type="radio" data-ng-model="defaultChoice.current" data-ng-value="choice" data-ng-change="validateDefaultChoice($event)" /></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</form>
    <div class="merchello-controls merchello-list-view umb-listview" data-ng-hide="optionSelected">

        <table class="table table-striped">
            <thead>
            <tr>
                <td><localize key="merchelloTableCaptions_optionName" /></td>
                <td><localize key="merchelloTableCaptions_optionUi" /></td>
                <td><localize key="merchelloTableCaptions_optionValues" /></td>
                <td>
                    <div class="pull-right">
                        <i class="icon-search" data-ng-click="enterSearch($event)"></i>
                        <input type="text" on-keyup="search()" data-ng-model="options.filter">
                    </div>
                </td>
            </tr>
            </thead>
            <tbody data-ng-show="queryResult.totalItems > 0" >
            <tr class="merchello-icon-container" data-ng-repeat="option in queryResult.items">
                <td>{{ option.name }}</td>
                <td>{{ option.uiOption }}</td>
                <td data-ng-bind="getColumnValue('values', option)"></td>
                <td>
                    <div class="text-right">
                    <merchello-add-icon do-add="selectOption(option)" data-ng-if="showAdd(option)"></merchello-add-icon>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody data-ng-hide="queryResult.totalItems > 0" >
            <td colspan="4" data-ng-bind-html-unsafe="noResults">

            </td>
            </tbody>
            <tfoot ng-show="pagination.length > 1">
            <tr>
                <th colspan="4">
                    <div class="pull-left">
                    </div>
                    <div class="pagination pagination-right">
                        <ul>
                            <li ng-class="{disabled:options.pageNumber <= 1}">
                                <a href="#" ng-click="prev()" prevent-default>
                                    <localize key="general_previous">Previous</localize>
                                </a>
                            </li>

                            <li ng-repeat="pgn in pagination"
                                ng-class="{active:pgn.isActive}">

                                <a href="#" ng-click="goToPage(pgn.val - 1)" prevent-default
                                   ng-bind="pgn.name ? pgn.name : pgn.val"
                                   ng-if="pgn.val != '...'"></a>
                                <span ng-bind="pgn.val" ng-if="pgn.val == '...'"></span>
                            </li>

                            <li ng-class="{disabled:options.pageNumber >= listViewResultSet.totalPages}">
                                <a href="#" ng-click="next()" prevent-default>
                                    <localize key="general_next">Next</localize>
                                </a>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>