<div>
    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <label for="sku"><localize key="merchelloVariant_baseSku" /> <small><localize key="merchelloVariant_mustUniqueSku" /></small></label>
            <input id="sku" data-ng-required="!creatingVariant" data-ng-disabled="creatingVariant" name="sku" required type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.sku" />
        </div>

        <div class="form-group col-xs-6 span6">
            <label for="barcode"><localize key="merchelloVariant_barcode" /> <small><localize key="merchelloVariant_barcodeExamples" /></small></label>
            <input id="barcode" name="barcode" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.barcode" />
        </div>
    </div>

    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <label for="price"><localize key="merchelloGeneral_price" /></label>
            <input id="price" name="price" required data-ng-pattern="/^\d+(\.\d+)?$/" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.price" />
        </div>

        <div class="form-group col-xs-6 span6">
            <label for="saleprice"><localize key="merchelloGeneral_salePrice" /></label>
            <input id="saleprice" name="saleprice" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.salePrice" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <label for="costOfGoods"><localize key="merchelloVariant_costOfGoods" /></label>
            <input id="costOfGoods" name="costOfGoods" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.costOfGoods" />
        </div>
        <div class="form-group col-xs-6 span6">
            <!-- empty -->
        </div>
    </div>

    <div class="row-fluid">
        <div class="form-group col-xs-6 span6 manufacturer">
            <label for="manufacturer"><localize key="merchelloVariant_manufacturer" /></label>
            <input id="manufacturer" name="manufacturer" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.manufacturer" autocomplete="off" />
            <div class="suggest" data-ng-show="showSuggest" data-ng-blur="hideSuggest()">
                <ul class="list-inline">
                    <li data-ng-repeat="m in manufacturers | filter: productVariant.manufacturer | limitTo: 3"><a prevent-default data-ng-click="populate(m)" class="btn btn-default">{{ m }}</a></li>
                </ul>
            </div>
        </div>

        <div class="form-group col-xs-6 span6">
            <label for="manufacturermodelnumber"><localize key="merchelloVariant_manufacturerModel" /></label>
            <input id="manufacturermodelnumber" name="manufacturermodelnumber" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.manufacturerModelNumber" />
        </div>
    </div>

    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <label class="label-checkbox"><input name="taxable" type="checkbox" data-ng-model="productVariant.taxable"> <span><localize key="merchelloVariant_isTaxable" /></span></label>
            <label class="label-checkbox"><input name="shippable" type="checkbox" data-ng-model="productVariant.shippable"> <span><localize key="merchelloVariant_isShippable" /></span></label>
            <label class="label-checkbox"><input name="trackinventory" type="checkbox" data-ng-model="productVariant.trackInventory" data-ng-disabled="productVariant.download"> <span><localize key="merchelloVariant_trackInventory" /></span></label>
            <label class="label-checkbox"><input name="trackinventory" type="checkbox" data-ng-model="productVariant.outOfStockPurchase" data-ng-disabled="productVariant.download"> <span><localize key="merchelloVariant_allowOutOfStockPurchase" /></span></label>
        </div>
        <div class="form-group col-xs-6 span6">
            <label class="label-checkbox"><input name="digital" type="checkbox" data-ng-model="productVariant.download"> <span><localize key="merchelloVariant_hasDigitalDownload" /></span></label>
            <!--label class="label-checkbox" data-ng-show="context === 'productedit' && !product.hasVariants() "><input name="hasoptions" type="checkbox" data-ng-model="product.hasOptions" data-ng-click="ensureInitialOption()"> <span><localize key="merchelloVariant_hasOptions" /></span></label-->

            <label class="label-checkbox"><input name="onsale" type="checkbox" data-ng-model="productVariant.onSale"> <span><localize key="merchelloVariant_isOnSale" /></span></label>
            <label class="label-checkbox"><input name="available" type="checkbox" data-ng-model="productVariant.available"> <span><localize key="merchelloVariant_isAvailable" /></span></label>
        </div>

    </div>
</div>