<div data-ng-controller="Merchello.Backoffice.MerchelloDashboardController" data-ng-show="loaded" class="merchellodashboard">
    <h3 class="logo">
        <a href="https://merchello.com" target="_blank">
            <img src="/App_Plugins/Merchello/assets/images/logo.png" alt="Merchello, the eCommerce package" />
        </a> Version {{merchelloVersion}}
    </h3>

    <div class="row">

        <div class="span4">
            <div class="merchello-block">
                <a href="https://merchello.com/training-support/" target="_blank">
                    <img src="/App_Plugins/Merchello/assets/images/support.png" class="img-responsive" alt="Premium Support">
                </a>
                <h3>Premium Support / Development</h3>
                <p>
                    Struggling with a Merchello project or custom Merchello Gateway Provider? Need a specific feature in Merchello straight away? 
                    You can now get support direct from Merchello.
                </p>
                <p>Support/Consultancy is done via Skype sessions and are charged per hour, in addition development sprints can now be sponsored.</p>

                <a href="https://merchello.com/training-support/" target="_blank" class="btn btn-merchello">
                    Find Out More
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="merchello-block love-merchello">
                <a href="https://merchello.com/gratitude-license/" target="_blank">
                    <img src="/App_Plugins/Merchello/assets/images/heart.png" class="img-responsive" alt="Gratitude License">
                </a>
                <h3>Love Merchello</h3>
                <p>
                    Then please help us out. Everything we develop, create and spend time on here at Merchello is <strong>self funded</strong> and given to you entirely for <strong>FREE</strong>.
                </p>
                <p>Buying a small $50 Gratitude license ensures that we can put in the extra time to polish and enhance Merchello so all of the community benefit.</p>
                <p>Also we really appreciate it! #h5yr</p>
                <a href="https://www.paypal.com/cgi-bin/webscr@?cmd=_xclick&business=payments@merchello.com&lc=GB&item_name=Merchello+Gratitude+License&amount=50&currency_code=USD&button_subtype=services&no_note=1&no_shipping=2&rm=1&return=https://www.merchello.com/gratitude-thank-you/&cancel_return=https://www.merchello.com&item_number=MERCHGRAT" target="_blank" class="btn btn-merchello">
                    Purchase Gratitude License
                </a>
            </div>
        </div>

        <div class="span4">
            <div class="merchello-block">
                <a href="https://merchello.com/solution-partners/" target="_blank">
                    <img src="/App_Plugins/Merchello/assets/images/partner-doc.png" class="img-responsive" alt="Merchello Solution Partner">
                </a>
                <h3>Solution Partner</h3>
                <p>Merchello's goal is to make you and your clients successful. Because the needs of every partner are different, we offer two levels of partnership - Gold and Silver.</p>
                <p>Each level has unique benefits, all with the goal of connecting partners to our community and helping them succeed.</p>
                <a href="https://merchello.com/solution-partners/" target="_blank" class="btn btn-merchello">
                    Find Out More
                </a>
            </div>
        </div>

    </div>
</div>
