<form novalidate name="productVariantForm" data-ng-controller="Merchello.Backoffice.ProductEditController"
      data-ng-show="loaded" data-ng-submit="save()">
    <umb-panel val-show-validation>
        <umb-header>
            <div class="span7">
                <umb-content-name ng-model="productVariant.name" localize="placeholder" placeholder="@merchelloPlaceholders_enterProduct">
                </umb-content-name>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <button data-ng-disabled="productVariantForm.$invalid" data-ng-click="save(productVariantForm)" class="btn btn-success"><localize key="buttons_save" /></button>
                        <button class="btn dropdown-toggle btn-success" data-toggle="dropdown" data-ng-show="context !== 'createproduct'">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu merchello-action-menu" role="menu"  data-ng-show="context !== 'createproduct'">
                            <li><a data-ng-click="openCopyProductDialog()"><localize key="merchelloProducts_copyProduct" /></a></li>
                            <li><a data-ng-click="deleteProductDialog()"><localize key="merchelloVariant_deleteProduct" /></a></li>
                        </ul>
                    </div>
                    <!--div class="btn-group">
                        <a data-ng-click="deleteProductDialog()" data-ng-show="context !== 'varianteditor' && context !== 'createproduct'" class="btn btn-danger"><localize key="merchelloVariant_deleteProduct" /></a>
                        <a data-ng-disabled="productVariantForm.$invalid" data-ng-click="save(productVariantForm)" class="btn btn-success"><localize key="buttons_save" /></a>
                    </div-->
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="form-horizontal tab-content row-fluid" data-ng-show="preValuesLoaded">
                <div class="merchello-pane">

                    <!-- Property classes from Umbraco styles -->
                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <localize key="merchelloVariant_variantInfo"/>
                            <small><localize key="merchelloVariant_configVariant" /></small>
                        </label>
                        <div class="merchello-controls">
                            <!-- Form for checkboxes that manage below sections, key fields like SKU, Price, etc -->
                            <product-variant-main-properties product="product" product-variant="productVariant" context="context" settings="settings"></product-variant-main-properties>

                        </div>
                    </div>

                    <!-- Digital Downloads Picker -->
                    <merchello-slide-open-panel is-open="productVariant.download" classes="'control-group umb-control-group'" hide-close="hideClose">
                        <product-variant-digital-download product-variant="productVariant" pre-values-loaded="preValuesLoaded"></product-variant-digital-download>
                    </merchello-slide-open-panel>



                    <merchello-slide-open-panel is-open="context === 'productedit'" classes="'control-group umb-control-group'" hide-close="hideClose">

                        <entity-static-collections entity-type="entityType" entity="product" pre-values-loaded="preValuesLoaded"></entity-static-collections>

                        <entity-filter-groups entity-type="entityType" pre-values-loaded="preValuesLoaded" entity="product"></entity-filter-groups>

                    </merchello-slide-open-panel>


                    <!-- Shipping settings for a product. -->
                    <merchello-slide-open-panel is-open="productVariant.shippable || productVariant.trackInventory" classes="'control-group umb-control-group'" hide-close="hideClose">
                        <product-variant-shipping product="product" product-variant="productVariant" settings="settings" context="{{context}}"></product-variant-shipping>
                    </merchello-slide-open-panel>

                </div>
                <!-- /merchello-pane -->
            </div>
        </merchello-panel>
    </umb-panel>
</form>