<div ng-controller="Merchello.Backoffice.ProductContentTypeListController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1><localize key="merchelloDetachedContent_contentTypes" /></h1>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>

            <detached-content-type entity-type="Product"></detached-content-type>

            <detached-content-type entity-type="ProductOption"></detached-content-type>
        </merchello-panel>
    </umb-panel>
</div>