<form novalidate name="productForm"
      data-ng-controller="Merchello.Backoffice.ProductOptionsManagerController"
      data-ng-submit="save()">

    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                <umb-content-name
                        ng-model="product.name"
                        localize="placeholder"
                        placeholder="@merchelloProductEdit_enterProductName">
                </umb-content-name>
            </div>

            <div class="col-xs-8 span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <button data-ng-disabled="productForm.$invalid" data-ng-click="save(productForm)" class="btn btn-success"><localize key="buttons_save" /></button>
                        <button class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu merchello-action-menu" role="menu">
                            <li><a data-ng-click="deleteProductDialog()"><localize key="merchelloVariant_deleteProduct" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Tabs for Variants & Options -->
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="merchello-pane">
                <!---------------------------------------------------------------------------------------
                    Variants tab
                ----------------------------------------------------------------------------------------->
                <div class="control-group umb-control-group">
                    <product-options-list load="load" do-add="doAdd" do-delete="doDelete" do-edit="doEdit" pre-values-loaded="preValuesLoaded"></product-options-list>
                </div>

        </merchello-panel>

    </umb-panel>
</form>


<!-- this is the cut -->

