<div ng-controller="Merchello.Backoffice.ProductFilterGroupsController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>Filter Specifications</h1>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="merchello-pane" data-ng-show="preValuesLoaded">

                <h4><localize key="merchelloSpecFilters_manageProductFilters">Manage Product Filters</localize></h4>
                <entity-filter-group-list pre-values-loaded="preValuesLoaded" entity-type="entityType" do-add="add" do-edit="edit"></entity-filter-group-list>

            </div>

        </merchello-panel>
    </umb-panel>
</div>