﻿<div class="umb-panel merchello-side-panel" ng-controller="sendGridNotificationProviderSettingsController">
    <div class="umb-modalcolumn-header">
        <h4><localize key="general_edit" /> <b>{{dialogData.provider.name}}</b></h4>
    </div>
    <div class="umb-panel-body with-header with-footer">
        <form name="editTemplateForm" class="well" data-ng-class="{ 'open': flyouts.editTemplate, 'closed': !flyouts.editTemplate }">
            <div class="form-group">
                <label>API Key*:</label>
                <input type="text" data-ng-model="sendGridProviderSettings.ApiKey" />
            </div>
            <div class="form-group">
                <label>Template Id (optional):</label>
                <input type="text" data-ng-model="sendGridProviderSettings.TemplateId" />
            </div>
            <label class="checkbox col-xs-6 span6">
                <input type="checkbox" data-ng-model="dialogData.provider.encryptExtendedData"><localize key="merchelloGatewayProvider_encryptProviderConfiguration" />
            </label>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel"><localize key="general_cancel" /></localize>
                </a>
                <button class="btn btn-primary"
                        data-ng-click="submit(dialogData)">
                    <localize key="buttons_save"><localize key="buttons_save" /></localize>
                </button>
            </div>
        </div>
    </div>
</div>