.mui-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #cccccc;
  opacity: .5;
  z-index: 99; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.mui-nav-right {
  margin-right: 20px; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -255px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer {
  background-color: #000000;
  color: #9d9d9d;
  padding-top: 20px;
  margin-top: 20px; }
  .footer .merchello-version {
    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    display: block;
    text-align: right; }

.footer, .push {
  height: 255px;
  /* .push must be the same height as .footer */ }

.nav > li.mui-quickcheckout {
  display: none; }

.mui-notify-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0; }

form .field-validation-error {
  display: block;
  color: #a94442; }
form .mui-requirejs {
  display: none; }

.h-card .p-name, .h-card .p-org, .h-card .p-street-address, .h-card .p-extended-address, .h-card .p-postal-code, .h-card .p-country-name,
.h-card .label-contact {
  display: block;
  padding-right: 2em; }
.h-card .p-name {
  font-weight: bold; }

.basket-summary .h-card {
  min-height: 180px; }

.product-box {
  clear: both; }

.price {
  font-weight: bold; }

.original-price {
  font-weight: normal;
  text-decoration: line-through; }

.related-products {
  margin-top: 2em; }

/*# sourceMappingURL=merchello.ui.css.map */
