<div class="umb-panel merchello-side-panel" ng-controller="Merchello.EntityCollections.Dialogs.SpecFilterCollectionAddController">
    <div class="umb-modalcolumn-header">
        <h4>Add {{ dialogData.entityType}} Filter Group</h4>

        <!-- Tabs for Variants & Options -->
    </div>

    <div class="umb-panel-body with-header with-footer">

        <form name="collectionForm" id="collectionForm">
            <div class="form-group row-fluid">
                <label for="name"><localize key="general_name" />:</label>
                <input name="name" type="text" class="span6" data-ng-model="dialogData.filterGroup.name" required />
                <div class="error" data-ng-show="collectionForm.name.$invalid && wasFormSubmitted"><localize key="merchelloValidation_nameFieldRequired" /></div>
            </div>

            <button class="btn btn-primary" data-ng-click="save()">
                <localize key="buttons_save">Save</localize>
            </button>
        </form>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

            </div>
        </div>
    </div>
</div>