<div class="umb-panel merchello-side-panel" ng-controller="Merchello.ProductOption.Dialogs.ProductOptionEditController">
    <div class="umb-modalcolumn-header">
        <h4>Edit Product Option</h4>

        <!-- Tabs for Variants & Options -->
    </div>

    <div class="umb-panel-body with-header with-footer">

        <div data-ng-show="visiblePanel === 'newoption'">
            <product-options-add-edit option="dialogData.option"></product-options-add-edit>
        </div>

        <div data-ng-show="visiblePanel === 'sharedoption'">
            <product-options-associate-shared option="dialogData.option" exclude="dialogData.exclude" shared-options-editor="dialogData.sharedOptionEditor"></product-options-associate-shared>
        </div>

    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <button class="btn btn-primary"
                        data-ng-click="validate()">
                    <localize key="buttons_save">Save</localize>
                </button>

            </div>
        </div>
    </div>
</div>