<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Product.Dialogs.PickSpecFilterCollectionsController">
    <div class="umb-modalcolumn-header">
        <h4>Associate Specified Filters</h4>
    </div>
    <div class="umb-panel-body with-header with-footer">

        <h5>Available Filters</h5>

        <div data-ng-repeat="collection in dialogData.available">

            <entity-filter-group collection="collection" entity-type="dialogData.entityType" current-filters="dialogData.currentFilters" />

        </div>

    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <button class="btn btn-primary"
                        data-ng-click="save()">
                    <localize key="buttons_save">Save</localize>
                </button>

            </div>
        </div>
    </div>
</div>